<%navLocation; loggedUser%>
<%- include('./common/functions') %>
<%- include('./fragments/header.ejs') %>
<main>
    <h2>Main page</h2>
    <p>Lorem ipsum dolor sit amet...</p>
    <% if(!loggedUser) { %>
        <div id="login">
            <h5>Logowanie</h5>
            <form method="post" action="/login" novalidate>
                <label for="loginEmail">Login:</label>
                <input type="text" id="login" name="login">

                <label for="loginPassword">Hasło:</label>
                <input type="password" id="password" name="password">

                <input type="submit" value="Zaloguj się" class="button-login">
                <span id="loginErrors"><%= loginError ? loginError : ''%></span>
            </form>
        </div>
        <br>
        <a href="/user/add" class="button-add">Zarejestruj się</a>
    <% } else { %>
    <span>Jesteś zalogowany jako: <%=loggedUser.login%></span>
    <br>
    <a href="/logout" class="button-logout">Wyloguj się</a>
    <% } %>
</main>
<%- include('./fragments/footer.ejs') %>