<% dataName; data; dataModel; loggedUser %>
<%- include('./common/functions.ejs') %>
<% var navLocation, url %>
<% navLocation = url = lowerCase(dataName) %>



<%- include('./fragments/header.ejs', {navLocation: navLocation}) %>
<main>
    <h2><%= upperCase(dataName) %> list</h2>
    <table class="table-list">
        <thead>
        <tr>
            <% for (let dataFieldKey of Object.getOwnPropertyNames(dataModel)) { %>
                <% if(dataModel[dataFieldKey].joinedOn) { %>
                    <th><%= upperCase(cutId(dataModel[dataFieldKey].name)) %></th>
                <% } %>
                <% if(!dataModel[dataFieldKey].hidden && !dataModel[dataFieldKey].hiddenValue) { %>
                    <th><%= upperCase(dataModel[dataFieldKey].name) %></th>
                <% } %>
            <% } %>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for (let entry in data) { %>
            <% entrysData = data[entry]["dataValues"] %>
            <tr>
                <% for (let dataFieldKey of Object.getOwnPropertyNames(dataModel)) { %>
                    <% if (dataModel[dataFieldKey].joinedOn){ %>
                        <td><%= data[entry][upperCase(cutId(dataModel[dataFieldKey].name))]["dataValues"].name %></td>
                    <% } %>
                    <% if(!dataModel[dataFieldKey].hidden && !dataModel[dataFieldKey].hiddenValue) { %>
                        <td><%= getField(entrysData[dataFieldKey]) %></td>
                    <% } %>
                <% } %>
                <td>
                    <%- include('./fragments/actionPanel.ejs',{url: url, targetId: entrysData._id}) %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <% if(loggedUser){ %>
        <p><a href="/<%= url %>/add" class="button-add">Add new <%= dataName %></a></p>
    <% } %>
</main>

<%- include('./fragments/footer.ejs') %>