<% dataName, data,dataModel %>
<%- include('./common/functions.ejs') %>
<% var navLocation, url %>
<% navLocation = url = lowerCase(dataName) %>



<%- include('./fragments/header.ejs', {navLocation: navLocation}) %>
<main>
    <h2><%= data.name %> details</h2>
    <form class="form">
        <% for (let column of Object.getOwnPropertyNames(dataModel)){ %>
        <% if(!dataModel[column].hidden) {%>
                <label for="<%=upperCase(dataModel[column]["name"])%>"><%=upperCase(dataModel[column]["name"])%>
                    <% if(required(dataModel[column])){ %>
                        <sup>*</sup>
                    <% } %>
                </label>
                <input type="<%=type()%>" name="<%upperCase(column)%>" value="<%=data["dataValues"][column]%>" id="<%=dataModel[column]%>" disabled>
                <span id="error<%=column%>>" class="errors-text"></span>
            <% } %>
        <% } %>
        <div class="form-buttons">
            <a href="/<%=url%>/edit" class="list-actions-button-edit">Edit</a>
        </div>
    </form>
</main>
<%- include('./fragments/footer.ejs') %>