<% dataName, data, dataModel %>
<%- include('./common/functions.ejs') %>
<% var navLocation, url %>
<% navLocation = url = lowerCase(dataName) %>



<%- include('./fragments/header.ejs', {navLocation: navLocation}) %>
<main>
    <h2><%= upperCase(dataName) %> list</h2>
    <table class="table-list">
        <thead>
        <tr>
            <% for (let column of Object.getOwnPropertyNames(dataModel)) { %>
                <% if(dataModel[column].joinedOn) { %>
                    <th><%= upperCase(cutId(dataModel[column].name)) %></th>
                <% } %>
                <% if(!dataModel[column].hidden) { %>
                    <th><%= upperCase(dataModel[column].name) %></th>
                <% } %>
            <% } %>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for (let object in data) { %>
            <% dataObject = data[object]["dataValues"] %>
            <tr>
                <% for (let column of Object.getOwnPropertyNames(dataModel)) { %>
                    <% if (dataModel[column].joinedOn){ %>
                        <td><%= data[object][upperCase(cutId(dataModel[column].name))]["dataValues"].name %></td>
                    <% } %>
                    <% if(!dataModel[column].hidden) { %>
                        <td><%= getField(dataObject[column]) %></td>
                    <% } %>
                <% } %>
                <td>
                    <%- include('./fragments/actionPanel.ejs',{url: url, targetId: dataObject._id}) %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/<%= url %>/add" class="button-add">Add new <%= dataName %></a></p>
</main>

<%- include('./fragments/footer.ejs') %>